.sfpwh
    &-controls
        text-align: right
        -moz-user-select: none !important
        -ms-user-select: none !important
        -webkit-user-select: none !important
        user-select: none !important
        & ~.invalid-feedback
            margin-top: -1.275rem
    &-hint
        font-size: 11px
        white-space: nowrap
        &:not(:first-child)
            margin-left: 10px
        &::before
            background-image: asset-url('icon-check.svg')
            background-position: center
            background-repeat: no-repeat
            background-size: 10px auto
            content: ''
            display: inline-block
            height: 10px
            margin-right: 4px
            margin-top: -2px
            vertical-align: middle
            width: 10px
        &--invalid
            &::before
                background-image: asset-url('icon-cancel.svg')
                background-size: 8px auto
    &_with_eye
        .password-toggle
            top: 10px
